<ion-view view-title="Departures for line {{line}}">
  <ion-content>
        <ion-item>
          <a class="button button-block button-positive" ng-href="#/app/line/{{line}}"><i class="ion ion-android-bus"></i> {{line}}</a>
          <a class="button button-block button-positive" ng-href="#/app/stop/{{stopName.stop_id}}"><i class="ion ion-spoon"></i><stop-name data="stopName"></stop-name></a>
        </ion-item>
    <accordion>
      <expander ng-repeat="(dayNo,departureDay) in departures" expander-title="{{days[dayNo]}}" ng-show="countDataInDepartures(departureDay)">
        <div class="card">
          <div class="hour_block" ng-repeat="(h,dep) in departureDay" ng-show="dep.length">
            {{hours[h]}}
            <sup>
              <span
                ng-repeat="depMin in dep" 
                ng-class='compareTimes("{{hours[h]}}:{{depMin.mins}}","{{currentTime}}","{{nextHour}}")?"next_h":""'>
                <a ng-href="#/app/trip/{{line}}/{{dir_no}}/{{stop_id}}/{{depMin.trip_no}}/{{dayNo+1}}">
                  {{depMin.mins}}<sub>{{depMin.signs}}</sub>
                </a>
              </span>
            </sup>
          </div>
        </div>
        <!-- <ion-list>
          <ion-item ng-repeat="(h, dep) in departureDay" ng-show="dep.length">
            <div class="row">
              <div class="hour col-15">{{hours[h]}}</div>
              <div class="mins col-85">
                <span
                  ng-repeat="depMin in dep" 
                  ng-class='compareTimes("{{hours[h]}}:{{depMin.mins}}","{{currentTime}}","{{nextHour}}")?"next_h":""'>
                  <a ng-href="#/app/trip/{{line}}/{{dir_no}}/{{stop_id}}/{{depMin.trip_no}}/{{dayNo+1}}">
                    {{depMin.mins}}<sub>{{depMin.signs}}</sub>
                  </a>
                </span>
              </div>
            </div>
          </ion-item>
        </ion-list> -->
      </expander>
    </accordion>
    <div class="card padding" style="margin: 10px auto;" ng-show="signs">
        <div class="item item-text-wrap" ng-repeat="sign in signs">
          {{sign.sign}} - {{sign.description}}
        </div>
    </div>
  </ion-content>
<!--   <ion-footer-bar>
      <span ng-repeat="sign in signs">
        {{sign.sign}} - {{sign.description}}
      </span>
  </ion-footer-bar> -->
</ion-view>