<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand ellipsis" href="#/">
        <span class="glyphicon glyphicon-home"></span>
        <span ng-if="$root.page">{{$root.page}}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/lines">Linie</a></li>
        <li><a ng-href="#/stops">Przystanki</a></li>
        <li><a ng-href="#/favs">Ulubione</a></li>
        <li><a ng-href="#/help">Pomoc</a></li>
        <li><a ng-href="#/settings">Ustawienia</a></li>
      </ul>
    </div>
  </div>
</nav>
